.ourTravellersTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 48px;
}

.viewAllContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.viewAllLink {
  display: flex;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 6px 12px;

  height: 48px;
  background: var(--color-royal-blue);
}

@media screen and (min-width: 768px) {
  .ourTravellersTitle {
    font-size: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .ourTravellersTitle {
    font-size: 52px;
  }
}
