.link {
  display: inline-block;
  border-radius: 8px;
  padding: 0px 8px;
  border: 1px solid transparent;
}

.link:hover,
.link:focus {
  border-color: var(--color-scheme-1-text);
}

.link:active {
  border-color: var(--color-scheme-1-text);
  background: var(--color-neutral-lighter);
}

.link:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.primaryBtn,
.secondaryBtn {
  border: 1px solid;
  border-radius: 8px;
  padding: 6px 12px;
  width: 100%;
  height: 48px;

  font-weight: 500;
}

.primaryBtn {
  background: var(--color-royal-blue);
  border-color: var(--color-royal-blue);
  color: var(--color-white);
}

.primaryBtn:hover,
.primaryBtn:focus {
  background: var(--color-royal-blue-lighter);
  border-color: var(--color-royal-blue);
  color: var(--color-scheme-2-text);
}

.primaryBtn:active {
  background: var(--color-royal-blue-light);
  color: var(--color-scheme-2-text);
}

.primaryBtn:disabled,
.secondaryBtn:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.secondaryBtn {
  background: var(--opacity-neutral-darkest-5);
  border-color: var(--color-scheme-2-border);
  border-radius: 8px;

  color: var(--color-neutral-darkest);
}

.secondaryBtn:hover,
.secondaryBtn:focus {
  background: var(--color-royal-blue);
  border-color: var(--opacity-transparent);
  color: var(--color-white);
}

.secondaryBtn:active {
  background: var(--color-royal-blue-darker);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .primaryBtn,
  .secondaryBtn {
    width: auto;
  }
}
