.storyItem {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.storyContent {
  padding: 24px;
  background-color: var(--color-royal-blue-lighter, #e8eeff);
}

.storyCategory {
  font-weight: 600;
  font-size: 12px;
}

.storyTitleCard {
  margin-top: 8px;
}

.storyTextCard {
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.authorInfo {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.authorAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.authorName {
  font-weight: 600;
  font-size: 12px;
}

.storyMeta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.publishedAt {
  font-weight: 400;
  font-size: 12px;
}

.metaSeparator {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-neutral-darkest, #000);
}

.favoriteCount {
  font-weight: 400;
  font-size: 12px;
}

.actionIcon {
  display: block;
  fill: var(--color-neutral-darkest, #000);
}

.storyActions {
  margin-top: 24px;
  display: flex;
  gap: 10px;
}

.favoriteButton {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 48px;
  height: 48px;
}
