.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 8px;
  padding: 6px 12px;
  height: 48px;
  font: inherit;
  font-weight: 500;
}

.defaultWidth {
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.primary {
  background: var(--color-royal-blue);
  border-color: var(--color-royal-blue);
  color: var(--color-white);
}

.primary:hover,
.primary:focus {
  background: var(--color-royal-blue-lighter);
  border-color: var(--color-royal-blue);
  color: var(--color-scheme-2-text);
}

.primary:active {
  background: var(--color-royal-blue-light);
  color: var(--color-scheme-2-text);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.secondary {
  background: var(--opacity-neutral-darkest-5);
  border-color: var(--color-scheme-2-border);
  border-radius: 8px;
  color: var(--color-neutral-darkest);
}

.secondary:hover,
.secondary:focus {
  background: var(--color-royal-blue);
  border-color: var(--opacity-transparent);
  color: var(--color-white);
}

.secondary:active {
  background: var(--color-royal-blue-darker);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .fullWidth {
    width: 100%;
  }

  .defaultWidth {
    width: auto;
  }
}
