.button {
  border: 1px solid;
  border-radius: 8px;
  padding: 6px 12px;
  width: 100%;
  height: 48px;

  font-weight: 500;
}

.primary {
  background: var(--color-royal-blue);
  border-color: var(--color-royal-blue);
  color: var(--color-white);
}

.primary:hover {
  background: var(--color-royal-blue-lighter);
  border-color: var(--color-royal-blue);
  color: var(--color-scheme-2-text);
}

.primary:active {
  background: var(--color-royal-blue-light);
  color: var(--color-scheme-2-text);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.secondary {
  background: var(--opacity-neutral-darkest-5);
  border-color: var(--color-scheme-2-border);
  border-radius: 8px;

  color: var(--color-neutral-darkest);
}

.secondary:hover {
  background: var(--color-royal-blue);
  border-color: var(--opacity-transparent);
  color: var(--color-white);
}

.secondary:active {
  background: var(--color-royal-blue-darker);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .button {
    width: auto;
  }
}
