.container {
  padding: 32px 20px;
}

.travellersPageTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 48px 64px;
  }
}
