.commonContainer {
  display: flex;
  flex-direction: column;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.storyElement {
  padding: 32px 20px;
}

.storyMeta {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.headerMeta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.imageContainer {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.image {
  border-radius: 24px;
  object-fit: cover;
}

.innerFavoritesBox {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 32px 20px;
  width: 335px;
  background: var(--color-neutral-lightest);
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .storyElement {
    padding: 32px;
  }

  .storyMeta {
    flex-direction: row;
  }

  .headerMeta {
    flex-direction: row;
    align-items: center;
  }

  .innerFavoritesBox {
    padding: 32px;
    width: 418px;
  }
}

@media screen and (min-width: 1440px) {
  .articleContainer {
    flex-direction: row;
  }

  .storyElement {
    padding: 48px 64px;
  }

  .article {
    flex: 1;
    min-width: 0;
  }
}
