.commonContainer {
  display: flex;
  flex-direction: column;
}

.articleContainer {
  display: flex;
  gap: 24px;
}

.storyElement {
  padding: 48px 64px;
}

.storyMeta {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.headerMeta {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.imageContainer {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.image {
  border-radius: 16px;
  object-fit: cover;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article {
  flex: 2;
  font-size: 16px;
  line-height: 1.6;
}

.favoritesBox {
  flex: 1;
}

.innerFavoritesBox {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 24px;
  background: var(--color-neutral-lightest);
  gap: 16px;
}
