.hero {
  background-color: var(--color-royal-blue-darkest);
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: center top;*/
  background-size: cover;
  padding-top: 124px;
  padding-bottom: 93px;
  background-image: linear-gradient(rgba(2, 13, 31, 0.4), rgba(2, 13, 31, 0.4)), image-set(
    url('/images/hero-img/hero-mob.webp') 1x,
    url('/images/hero-img/hero-mob@2x.webp') 2x
  );
}

.heroContainer {
  margin: 0 auto;
}

.heroTitle {
  max-width: 559px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-white);
}

.heroDescription {
  margin: 0 0 32px;
  font-family: var(--font-nunito-sans), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
}

.heroButton {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 244px;
    padding-bottom: 117px;
    background-image: linear-gradient(rgba(2, 13, 31, 0.4), rgba(2, 13, 31, 0.4)), image-set(
      url('/images/hero-img/hero-tab.webp') 1x,
      url('/images/hero-img/hero-tab@2x.webp') 2x
    );
  }

  .heroTitle {
    max-width: 600px;
  }

  .heroButton {
    width: 115px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 244px;
    padding-bottom: 347px;
    background-image: linear-gradient(rgba(2, 13, 31, 0.4), rgba(2, 13, 31, 0.4)),image-set(
      url('/images/hero-img/hero-desk.webp') 1x,
      url('/images/hero-img/hero-desk@2x.webp') 2x
    );
  }

  .heroDescription {
    max-width: 759px;
    font-size: 20px;
  }

  .heroButton {
    width: 126px;
  }
}