.hero {
  background-color: var(--accent-light);
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: center top;*/
  background-size: cover;
  padding-top: 124px;
  padding-bottom: 93px;
  background-image: image-set(
    url('/images/hero-mob.webp') 1x,
    url('/images/hero-mob@2x.webp') 2x
  );
}

.heroContainer {
  padding: 0 20px; 
}

.heroTitle {
  margin: 0 0 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-white);
}

.heroDescription {
  margin: 0 0 32px;
  font-family: var(--font-nunito-sans), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
}

.heroButton {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 244px;
    padding-bottom: 117px;
    background-image: image-set(
      url('/images/hero-tab.webp') 1x,
      url('/images/hero-tab@2x.webp') 2x
    );
  }

  .heroTitle {
    max-width: 612px;
    font-size: 48px;
  }

  .heroButton {
    width: 115px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 244px;
    padding-bottom: 347px;
    background-image: image-set(
      url('/images/hero-desk.webp') 1x,
      url('/images/hero-desk@2x.webp') 2x
    );
  }

  .heroTitle {
    max-width: 759px;
    font-size: 56px;
  }

  .heroDescription {
    max-width: 759px;
    font-size: 20px;
  }

  .heroButton {
    width: 126px;
  }
}