.tabs {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 64px;
}

.tab {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease;
}

.tab:hover {
  opacity: 0.7;
}
.active {
  border-bottom: 2px solid var(--text);
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .tab {
    font-size: 18px;
  }
}
