:root {
  --color-neutral-darkest: #000;
  --color-neutral-lighter: #d8d8d8;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --color-royal-blue-lightest: #f7f9ff;
  --color-royal-blue-lighter: #e8eeff;
  --color-royal-blue-light: #7a96ea;
  --color-royal-blue: #4169e1;
  --color-royal-blue-dark: #3454b4;
  --color-royal-blue-darker: #1a2a5a;
  --color-royal-blue-darkest: #131f43;
  --color-red: #b00101;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);

  --color-scheme-1-background: var(--color-white);
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-scheme-1-foreground: var(--color-neutral-lightest);
  --color-scheme-1-accent: var(--color-royal-blue);
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-royal-blue-lightest);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-royal-blue);
  --color-scheme-2-foreground: var(--color-royal-blue-lighter);
}

/* RESET */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;

  font-family: var(--font-nunito-sans), sans-serif;
  color: var(--color-scheme-2-text);
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADERS */
h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  /* text-align: center; */
  color: var(--color-scheme-1-text);

  margin-bottom: 32px;
}

h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  margin-bottom: 40px;
}

h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-scheme-1-text);

  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 52px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 26px;
  }
}
