.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--color-scheme-2-background);
}
.content {
  width: 100%;
}

.leftColumn {
  width: 100%;
}
.container {
  width: 100%;
  max-width: 375px;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-scheme-2-text);
}

@media (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 32px 32px 72px;
  }

  .title {
    margin: 32px 0 20px;
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1312px;
    padding: 48px 64px 72px;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .leftColumn {
    width: 1312px;
  }

  .title {
    margin: 48px 0 24px;
    font-size: 56px;
  }
}
