.authForm {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  background: var(--background);
  color: var(--text);
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  font-family: var(--second-family);
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: var(--text);
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}
.field {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.label {
  font-size: 16px;
  line-height: 1.5;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: var(--opacity-transparent);
  color: var(--text);
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: var(--accent);
}

.error {
  position: absolute;
  bottom: -20px;
  left: 8px;
  font-size: 13px;
  color: var(--color-red);
}
.input.input_error {
  border-color: var(--color-red);
  color: var(--color-red);
}

.passwordField {
  margin-bottom: 40px;
}

.icon_error {
  color: red;
}

.submitBtn {
  width: 100%;
  padding: 12px;
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  border: 1px solid var(--border);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  opacity: 1;
  transition: 0.3s all ease;
  margin-bottom: 173px;
}

.submitBtn:hover:enabled,
.submitBtn:focus:enabled {
  background: var(--color-royal-blue-lighter);
  border: 1px solid var(--color-royal-blue);
  color: #000;
}

.submitBtn:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .authForm {
    max-width: 644px;
  }

  .title {
    font-size: 44px;
  }
  .text {
    margin-bottom: 32px;
  }
  .submitBtn {
    margin-bottom: 242px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .title {
    font-size: 52px;
  }
  .text {
    font-size: 20px;
  }
  .label {
    font-size: 18px;
  }
  .input {
    font-size: 18px;
  }
  .submitBtn {
    font-size: 18px;
  }
  .status {
    bottom: 150px;
  }

  .passwordField {
    margin-bottom: 45px;
  }
  .submitBtn {
    margin-bottom: 213px;
  }
}
