.travellerStoriesTitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-top: 32px;
  margin-bottom: 40px;
}
