.messageWrapper {
  border-radius: 24px;
  padding: 20px;

  height: 195px;
  max-width: 768px;
  background: var(--color-scheme-2-foreground);
}

.messageText {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;
}

.messageButtonText {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  border: 1px solid var(--color-royal-blue);
  border-radius: 8px;
  padding: 6px 12px;
  width: 295px;
  height: 48px;
  background: var(--color-royal-blue);
}

@media screen and (min-width: 768px) {
  .messageWrapper {
    height: 210px;
    padding: 40px 32px;
  }

  .messageButtonText {
    width: 186px;
    height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .messageWrapper {
    height: 268px;
  }

  .messageText {
    font-size: 26px;
  }

  .messageButtonText {
    width: 206px;
    height: 48px;
    font-size: 18px;
  }
}
