.topContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.title {
  margin-bottom: 0;
}
.description {
  font-size: 20px;
  line-height: 1.5;
  color: #000;

  /* flex-basis: 534px; */
}
.featuresList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.featureItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.featureTitle {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #000;
}
.icon {
  font-size: 32px;
  width: 48px;
  height: 48px;
  fill: #111;
  margin-bottom: 16px;
}
.featureText {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

@media (min-width: 768px) {
  .topContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40xp;
    margin-bottom: 64px;
  }

  .title {
    flex: 1;
    font-size: 36px;
  }

  .description {
    flex: 1;
  }

  .featuresList {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .section {
    padding: 80px 0;
  }

  .topContent {
    gap: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  .title {
    font-size: 48px;
    max-width: 755px;
  }

  .description {
    max-width: 534px;
  }

  .featuresList {
    grid-template-columns: repeat(3, 1fr);
  }
}
